* {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 0.8999999999999999vw;
    line-height: 2.6vw;
    list-style: none;
}